<label>Week number provided is</label>
<label> {{wkno|safe}} </label>
<br>
<label>All dates in this week are:</label>
<label> {{dates|safe}} </label>
<br>
<label>Monday({{Monday}}) hours and projects are:</label>
<label> {{mon_hrs|safe}} </label>
<label> {{mon_pn|safe}} </label>
<br>
<label>Tuesday({{Tuesday}}) hours and projects are:</label>
<label> {{tue_hrs|safe}} </label>
<label> {{tue_pn|safe}} </label>
<br>
<label>Wednesday({{Wednesday|safe}}) hours and projects are:</label>
<label> {{wed_hrs|safe}} </label>
<label> {{wed_pn|safe}} </label>
<br>
<label>Thursday({{Thursday}}) hours and projects are:</label>
<label> {{thu_hrs|safe}} </label>
<label> {{thu_pn|safe}} </label>
<br>
<label>Friday({{Friday}}) hours and projects are:</label>
<label> {{fri_hrs|safe}} </label>
<label> {{fri_pn|safe}} </label>
<br>
<label>Saturday({{Saturday}}) hours and projects are:</label>
<label> {{sat_hrs|safe}} </label>
<label> {{sat_pn|safe}} </label>
<br>
<label>Sunday({{Sunday}}) hours and projects are:</label>
<label> {{sun_hrs|safe}} </label>
<label> {{sun_pn|safe}} </label>
<br>
<label>Project Names mapping is:</label>
<label> {{project_name_map|safe}} </label>
<br>
<label>Output mapping is:</label>
<label> {{output_map|safe}} </label>
<br>
<label>Day and Date mapping is:</label>
<label> {{date_day_map|safe}} </label>
<br>